* {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-weight: 400;
   
}

.vector {
    Width: 31.09px;
    Height: 48px;
    margin-top: 40px;
    margin-left: 84px;

}


.textarea {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    font-size: 32px;
    line-height: 150%px;
}

::placeholder {
    color: #0A3871;
    font-size: 32px;
}

.textarea:focus {
    outline: none;
    }


.informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
    color: #495057;
    font-size: 12px;
    
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    gap: 24px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;

}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    width: 25%;
    height: Hug 67px;
    font-size: 18px;
    padding: 2%;
    gap: 8px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    line-height: 19px;
    text-align: center;
    color: white;
    cursor: pointer;
    

}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: Hug 67px;
    font-size: 18px;
    padding: 2%;
    gap: 8px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    line-height: 19px;
    text-align: center;
    
}



.encriptado{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
     background: white; 
     box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: none;
    background-color: #ffffff;
}

.mensaje-encriptado {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0A3871;
    position: absolute;
    padding: 1%;
    gap: 16px;
    width: 100%;
    text-align: center;
    top: 65%;
    background-color: #ffffff;

}

.mensaje-encriptado h2{
    width: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    background-color: #ffffff;

}

.mensaje-encriptado p{
    width: 80%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    background-color: #ffffff;

}
.mensaje-encriptado:focus {
    outline: none;
}

.encriptado img{
position: absolute;
width: 80%;
top: 15%;
background-color: #ffffff;


}

.btn-copiar {
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: Hug 67px;
    left: 1032px;
    top: 885px;
    font-size: 16px;
    text-align: center;

    background-color: #ffffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;


}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }