* {
    background: #E5E5E5;
    font-family: 'Inter';
    font-weight: 400;


}

.vector {
    Width: 31.09px;
    Height: 48px;
    Left: 5%;
    margin-top: 4.25%;
    margin-left: 8.94%;

}



main {
    display: flex;
    margin-bottom: 5.32%;
    margin-left: 8.5%;
}

.textarea {
    position: absolute;
    border: none;
    width: 577px;
    height: 48px;
    margin-top: 168px;
    margin-left: 240px;
    color: #0A3871;
    text-transform: lowercase;
    font-size: 32px;
    line-height: 150%px;
}

::placeholder {
    color: #0A3871;
}

.textarea:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("/images/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: absolute;

    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);


}

.mensaje:focus {
    outline: none;
}

.informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

    color: #495057;
    font-size: 12px;
}

.botones {
    display: flex;
    margin-top: 18px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

}

.btn-encriptar {
    width: 328px;
    height: Hug 67px;
    font-size: 16px;
    padding: 24px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;

    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;

}

.btn-desencriptar {
    width: 328px;
    height: Hug 67px;
    font-size: 16px;
    padding: 24px;
    gap: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;

    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;


}

.btn-copiar {

    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: Hug 67px;
    left: 1032px;
    top: 885px;
    font-size: 16px;
    text-align: center;
    flex: none;
    background-color: #ffffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;

}