* {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    box-sizing: border-box;

}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-weight: 400;
   
}

.vector {
    Width: 31.09px;
    Height: 48px;
    margin-top: 40px;
    margin-left: 84px;

}


.textarea {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    font-size: 32px;
    line-height: 150%px;
}

::placeholder {
    color: #0A3871;
    font-size: 32px;
}

.textarea:focus {
    outline: none;
    }


.informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
    color: #495057;
    font-size: 12px;
    
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    gap: 24px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;

}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    width: 328px;
    height: Hug 67px;
    font-size: 16px;
    padding: 24px;
    gap: 8px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    line-height: 19px;
    color: white;
    cursor: pointer;

}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 328px;
    height: Hug 67px;
    font-size: 16px;
    padding: 24px;
    gap: 8px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
     background: white; 
     box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: none;
}

.mensaje {
   
    
    
    color: #0A3871;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
   


}

.mensaje:focus {
    outline: none;
}



.btn-copiar {
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: Hug 67px;
    left: 1032px;
    top: 885px;
    font-size: 16px;
    text-align: center;

    background-color: #ffffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;


}